@import "tailwindcss";

@theme {
    --color-text-p: #4f5361;
    --color-primary-bg: #e6f0ff;
    --color-secondary: #0f1b4c;
}

@layer base {
    h1 {
        font-size: var(--text-2xl);
    }

    h2 {
        font-size: var(--text-xl);
    }
}