<article class="mt-40 w-full">
    <section class="flex items-center flex-col">
        <div class="border-3 rounded-2xl w-10 border-text-secondary"></div>
        <div class="mt-1">
            <h1 class="font-semibold text-secondary text-3xl">How its work?</h1>
        </div>
        <div class="w-[430px]">
            <p>Everything you need to know when you're looking up to buy,</p>
            <span class="text-center mt-1">
                <p>rent, or sell - all in one place</p>
            </span>
        </div>
    </section>

    <section class="mt-20 w-full flex justify-center relative">
        <figure class="absolute left-[440px]">
            <img class="h-16 w-24" src="../images/buyGuilder.png" alt="Trulli">
            <figcaption>Buyer Guides</figcaption>
            <span class="text-[#2196ff] font-semibold">
                How to buy
                <i class="fa-solid fa-arrow-right"></i>
            </span>
        </figure>
        <figure>
            <img class="h-16 w-20" src="../images/renter.png" alt="Trulli">
            <figcaption>Renter Guides</figcaption>
            <span class="text-[#2196ff] font-semibold">
                How to rent
                <i class="fa-solid fa-arrow-right"></i>
            </span>
        </figure>
        <figure class="absolute right-[445px]">
            <img class="h-16 w-20" src="../images/seller.png" alt="Trulli">
            <figcaption>Seller Guides</figcaption>
            <span class="text-[#2196ff] font-semibold">
                How to sell
                <i class="fa-solid fa-arrow-right"></i>
            </span>
        </figure>
    </section>
    <div class="w-full text-center mt-9">
        <button class="w-[150px] h-10 bg-secondary rounded-sm text-white text-[12px]">Sell Full Guidelines</button>
    </div>
</article>