<section class="w-full bg-[#f5fafe] mt-20 pt-24 h-[750px]">
    <section class="px-28 w-full">
        <h1 class="text-secondary font-bold text-4xl">Featured Properties</h1>
        <div class="w-full flex justify-between mt-4">
            <span class="text-text-p">Everything you need to know when you're looking</span>
            <span class="text-[#2196ff] font-semibold">View All Properties
                <i class="fa-solid fa-arrow-right"></i>
            </span>
        </div>
    </section>
    <section class="px-28 h-fit mt-20 grid grid-cols-3 gap-3">
        <article class="w-96 h-[365px] bg-white rounded-xl">
            <figure class="w-full h-60 ">
                <img class="w-full h-full rounded-t-xl" src="../images/nikkoApartment.png" alt="nikkoApartment">
                <figcaption class="font-bold text-xl mt-4 ml-5 mr-5">Nikko Apartments</figcaption>
                <figcaption class="mt-2 ml-5 mr-5">8502 Preston Rd.Inglewood, Maine 98280</figcaption>
                <div class="flex space-x-6 text-gray-800 text-sm mx-5 mt-5">
                    <span><i class="fas fa-bed text-blue-500 mr-1"></i>5 Beds</span>
                    <span><i class="fas fa-bath text-blue-500 mr-1"></i>2 Baths</span>
                    <span><i class="fas fa-vector-square text-blue-500 mr-1"></i>2000 Sqft</span>
                </div>
            </figure>
        </article>

        <article class="w-96 h-[365px] bg-white rounded-xl">
            <figure class="w-full h-60 ">
                <img class="w-full h-full rounded-t-xl" src="../images/coucou.png" alt="coucouHomestead">
                <figcaption class="font-bold text-xl mt-4 ml-5 mr-5">CouCou Homestead</figcaption>
                <figcaption class="mt-2 ml-5 mr-5">8502 Preston Rd.Inglewood, Maine 98280</figcaption>
                <div class="flex space-x-6 text-gray-800 text-sm mx-5 mt-5">
                    <span><i class="fas fa-bed text-blue-500 mr-1"></i>5 Beds</span>
                    <span><i class="fas fa-bath text-blue-500 mr-1"></i>2 Baths</span>
                    <span><i class="fas fa-vector-square text-blue-500 mr-1"></i>2000 Sqft</span>
                </div>
            </figure>
        </article>

        <article class="w-96 h-[365px] bg-white rounded-xl">
            <figure class="w-full h-60 ">
                <img class="w-full h-full rounded-t-xl" src="../images/lavis18.png" alt="lavis18">
                <figcaption class="font-bold text-xl mt-4 ml-5 mr-5">Lavis 18 Resident</figcaption>
                <figcaption class="mt-2 ml-5 mr-5">8502 Preston Rd.Inglewood, Maine 98280</figcaption>
                <div class="flex space-x-6 text-gray-800 text-sm mx-5 mt-5">
                    <span><i class="fas fa-bed text-blue-500 mr-1"></i>5 Beds</span>
                    <span><i class="fas fa-bath text-blue-500 mr-1"></i>2 Baths</span>
                    <span><i class="fas fa-vector-square text-blue-500 mr-1"></i>2000 Sqft</span>
                </div>
            </figure>
        </article>
    </section>
</section>