<section class="w-full mt-20">
    <div class="w-full px-32 flex justify-between">
        <div class="w-1/2 px-12 rounded-2xl relative">
            <div class="absolute w-[45%] h-full rounded-2xl left-[300px]">
                <img class="rounded-2xl w-full h-full relative" src="../images/istockphoto-1312027174-612x612.jpg"
                    alt="">
                <section class="rounded-br-2xl w-[258px] h-fit bg-white top-0 right-60 absolute py-5 px-5">
                    <section class="w-full">
                        <section class="flex w-full justify-between ">
                            <h1 class="text-secondary text-3xl font-semibold">40,000+</h1>
                            <i class="fa-solid fa-arrow-trend-up my-auto text-2xl text-[#59c689]"></i>
                        </section>
                        <p class="text-text-p">By avarage for 2 bedroom apments in San Francisco, CO</p>
                        <hr class="my-5 text-text-p">
                        <div class="flex w-full h-fit">
                            <div class="w-fit h-5 mr-8">
                                <div class="relative flex w-fit h-full">
                                    <img class="rounded-full aspect-square object-cover"
                                        src="../images/diego Pressiidnet.jpg" alt="">
                                    <img class="rounded-full aspect-square object-cover absolute left-4"
                                        src="../images/donaltrum.jpg" alt="">
                                </div>
                            </div>
                            <div class="w-fit h-5 mr-16">
                                <div class="w-fit h-full flex relative">
                                    <img class="rounded-full aspect-square object-cover"
                                        src="../images/wwomen presidenf.jpg" alt="">
                                    <img class="rounded-full aspect-square object-cover absolute left-4"
                                        src="../images/donaltrum.jpg" alt="">
                                    <img class="rounded-full aspect-square object-cover absolute left-8"
                                        src="../images/diego Pressiidnet.jpg" alt="">
                                    <img class="rounded-full aspect-square object-cover absolute left-12"
                                        src="../images/R.png" alt="">
                                </div>
                            </div>
                            <div class="w-fit h-5">
                                <div class="w-fit h-full flex relative">
                                    <img class="rounded-full aspect-square object-cover" src="../images/fj.jpg" alt="">
                                    <img class="rounded-full aspect-square object-cover absolute left-4"
                                        src="../images/wwomen presidenf.jpg" alt="">
                                    <img class="rounded-full aspect-square object-cover absolute left-8"
                                        src="../images/S.png" alt="">
                                </div>
                            </div>
                        </div>

                        <div class="mt-4 flex w-full h-fit">
                            <div class="w-fit h-5 mr-16">
                                <div class="relative flex w-fit h-full">
                                    <img class="rounded-full aspect-square object-cover"
                                        src="../images/diego Pressiidnet.jpg" alt="">
                                    <img class="rounded-full aspect-square object-cover absolute left-4"
                                        src="../images/wwomen presidenf.jpg" alt="">
                                    <img class="rounded-full aspect-square object-cover absolute left-8"
                                        src="../images/donaltrum.jpg" alt="">
                                    <img class="rounded-full aspect-square object-cover absolute left-12"
                                        src="../images/JJ.jpg" alt="">
                                </div>
                            </div>

                            <div class="w-fit h-5 mr-7">
                                <div class="relative flex w-fit h-full">
                                    <img class="rounded-full aspect-square object-cover" src="../images/donaltrum.jpg"
                                        alt="">
                                    <img class="rounded-full aspect-square object-cover absolute left-4"
                                        src="../images/Qv.jpg" alt="">
                                </div>
                            </div>

                            <div class="w-fit h-5 mr-7">
                                <div class="relative flex w-fit h-full">
                                    <img class="rounded-full aspect-square object-cover"
                                        src="../images/wwomen presidenf.jpg" alt="">
                                    <img class="rounded-full aspect-square object-cover absolute left-4"
                                        src="../images/diego Pressiidnet.jpg" alt="">
                                </div>
                            </div>

                            <div class="w-fit h-5">
                                <div class="relative flex w-fit h-full">
                                    <img class="rounded-full aspect-square object-cover" src="../images/donaltrum.jpg"
                                        alt="">
                                    <img class="rounded-full aspect-square object-cover absolute left-4"
                                        src="../images/IU.jpg" alt="">
                                </div>
                            </div>
                        </div>
            </div>
        </div>
        <section class="w-1/3 m-auto">
            <div class="border-3 rounded-2xl w-10 border-secondary mb-4"></div>
            <h1 class="text-5xl leading-[50px] text-secondary font-semibold">You've found a neighhood you love.</h1>
            <p class="mt-6 text-text-p">When you own a home, you're committing to living in one location
                for a while. In a recent Trulia survey, we found that five out of
                six respondents said finding the right neighborhood
            </p>
        </section>
    </div>
    <div class="w-full h-fit flex justify-between px-52 mt-14">
        <section>
            <h1 class="text-5xl font-semibold">2500</h1>
            <span class="text-text-p mt-4">Homes for Sale</span>
        </section>
        <section>
            <h1 class="text-5xl font-semibold">5,000+</h1>
            <span class="text-text-p mt-4">Homes Recently Sold</span>
        </section>
        <section>
            <h1 class="text-5xl font-semibold">170+</h1>
            <span class="text-text-p mt-4">Price Reduced</span>
        </section>
    </div>
</section>