<section class="bg-white w-full h-56 px-20 py-7 mt-5">
    <section class="flex item justify-between">
        <section>
            <h1 class="m-auto">Besnik.</h1>
            <p class="text-text-p mt-4">More than 45,000 + companies trust besnik</p>
        </section>
        <section>
            <span class="text-amber-300">
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
            </span>
            <p class="text-text-p mt-4">5 Star Ratings (2k+ Review)</p>
        </section>
    </section>

    <section class="flex justify-between mt-14">
        <div class="w-40 h-20  p-2 flex justify-center items-center">
            <img class="h-10 w-auto" src="../images/Meundex.png" alt="">
        </div>

        <div class="w-40 h-20  p-2 flex justify-center items-center">
            <img class="h-10 w-auto" src="../images/lack.png" alt="">
        </div>

        <div class="w-40 h-20 rounded-2xl shadow-xl p-2 flex justify-center items-center">
            <img class="h-10 w-auto" src="../images/amzon.png" alt="">
        </div>

        <div class="w-40 h-20  p-2 flex justify-center items-center">
            <img class="h-10 w-auto" src="../images/wooCommerce.png" alt="">
        </div>

        <div class="w-40 h-20  p-2 flex justify-center items-center">
            <img class="h-10 w-auto" src="../images/sitepoint.png" alt="">
        </div>

    </section>
</section>