<section class="w-full h-72 px-40 mt-24">
    <section class="h-full w-full relative bg-[#063183] rounded-2xl px-12">
        <section class="flex h-full flex-col w-3/4 justify-center">
            <h1 class="text-white m-0 font-semibold text-4xl">Subscribe to our Newsletters!</h1>
            <span class="text-[#c1cbe0] mt-5">Subscribe to our newsletter and stay updated.</span>
            <button class="w-32 h-10 rounded-md text-[#063183] bg-white mt-5 font-semibold">Subscribe</button>
        </section>
        <div class="absolute right-60 bottom-0">
            <img class="h-80" src="../images/smartphone.png" alt="">
        </div>
    </section>
</section>